@mixin font-face($font-family, $fontFile, $weight, $style) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../fonts/#{$fontFile}.woff2') format('woff2');
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}
